<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>{{ 'Accueil' | trans }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{{ 'SolMusic HTML Template' | trans }}">
    <meta name="keywords" content="{{ 'musique, html' | trans }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon"/>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
 
    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="css/slicknav.min.css"/>

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="css/style.css"/>


    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
     

 <!-- Header section -->
    <header class="header-section clearfix" style="width: 100%;">
    <a href="{{ path('app_home') }}" class="site-logo" style="font-size: 20px;">
        <img src="{{ asset('img/logo.png') }}" alt="{{ 'SolMusic' | trans }}">
    </a>
    <div class="header-right">
        <div class="user-panel">
            {% if app.user %}
                {# Utilisateur connecté #}
                
                <a href="{{ path('client_creer_projet') }}">{{ 'Créer un projet'  | trans}}</a>
                <a href="{{ path('app_list_project') }}">{{ 'Mes projets' | trans }}</a>
                
             <a href="{{ path('app_logout') }}" class="logout">{{ 'Déconnecter' | trans }}</a>
             <a href="#" onclick="changeLanguage('fr')">
            <span>Fr</span>
            </a>
                <a>|</a>
               
                <a href="#" onclick="changeLanguage('en')">
              <span>En</span>
            </a>
            <script>
    function changeLanguage(lang) {
        // Récupérer l'URL actuelle
        var currentUrl = window.location.href;

        // Remplacer le paramètre de langue dans l'URL actuelle
        var newUrl = '';
        if (currentUrl.includes('fr')) {
            // Si l'URL actuelle contient 'fr', remplacez-le par 'en'
            newUrl = currentUrl.replace('/fr/', '/en/');
        } else if (currentUrl.includes('en')) {
            // Si l'URL actuelle contient 'en', remplacez-le par 'fr'
            newUrl = currentUrl.replace('/en/', '/fr/');
        } else {
            // Si l'URL actuelle ne contient ni 'fr' ni 'en', ajoutez le paramètre de langue à l'URL
            newUrl = currentUrl + (currentUrl.includes('?') ? '&' : '?') + 'lang=' + lang;
        }

        // Recharger la page avec la nouvelle URL
        window.location.href = newUrl;
    }
</script>
            {% else %}
                {# Utilisateur non connecté #}
                <a href="{{ path('app_register') }}" class="register">{{ 'S\'inscrire' | trans }}</a>
                <a>|</a>
                <a href="{{ path('app_login') }}" class="login">{{ 'Se connecter' | trans }}</a>
            {% endif %}
        </div>
    </div>
     <ul class="main-menu" style="padding-right:0%;" >
        <li><a href="{{ path('app_home') }}">{{ 'Accueil' | trans}}</a></li>
      
       
    </ul>
     
</header>
<!-- Header section end -->


    <!-- Hero section -->
    <section class="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hs-text">
                                <h2><span>{{ 'De la musique' | trans }}</span> {{ 'pour tout le monde.' | trans }}</h2>
                                <p>{{ 'Avec SolMusic, découvrez une collection de musiques diverses et variées pour tous les goûts.' | trans }}</p>
                                {% if app.user %}
    {# Utilisateur connecté #}
    <a href="{{ path('client_creer_projet') }}" class="site-btn">{{ 'Créer un projet' | trans }}</a>
    <a href="{{ path('app_list_project') }}" class="site-btn sb-c2">{{ 'Mes projets' | trans }}</a>
{% else %}
    {# Utilisateur non connecté #}
    <a href="{{ path('app_login') }}" class="site-btn">{{ 'Se connecter' | trans }}</a>
    <a href="{{ path('app_register') }}" class="site-btn sb-c2">{{ 'Commencer l\'essai gratuit' | trans }}</a>
{% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hr-img">
                                <img src="{{ asset('img/hero-bg.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hs-text">
                                <h2><span>{{ 'Écoutez' | trans }}</span> {{ 'de la nouvelle musique.' | trans }}</h2>
                                <p>{{ 'Explorez notre catalogue et découvrez les dernières nouveautés musicales dès maintenant.' | trans }}</p>
                                {% if app.user %}
    {# Utilisateur connecté #}
    <a href="{{ path('client_creer_projet') }}" class="site-btn">{{ 'Créer un projet' | trans }}</a>
    <a href="{{ path('app_list_project') }}" class="site-btn sb-c2">{{ 'Mes projets' | trans }}</a>
{% else %}
    {# Utilisateur non connecté #}
    <a href="{{ path('app_login') }}" class="site-btn">{{ 'Se connecter' | trans }}</a>
    <a href="{{ path('app_register') }}" class="site-btn sb-c2">{{ 'Commencer l\'essai gratuit' | trans }}</a>
{% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hr-img">
                                <img src="{{ asset('img/hero-bg.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero section end -->

    <!-- Intro section -->
    <section class="intro-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <h2>{{ 'Accès illimité à 100K pistes' | trans }}</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p>{{ 'Découvrez une bibliothèque de plus de 100 000 pistes musicales à explorer et à apprécier.' | trans }}</p>
                        {% if app.user %}
                        {# Utilisateur connecté #}
                        <a href="" class="site-btn">{{ 'Essayez maintenant' | trans }}</a>
               
                        {% else %}
                        {# Utilisateur non connecté #}
                        <a href="#" class="site-btn">{{ 'Essayez maintenant' | trans }}</a>
                        {% endif %}
                    
            
                </div>
            </div>
        </div>
    </section>
    <!-- Intro section end -->

<!-- How section -->
    <section class="how-section spad set-bg" data-setbg="{{ asset('img/how-to-bg.jpg') }}">
        <div class="container text-white">
            <div class="section-title">
                <h2>{{ 'Comment ça marche' | trans }}</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="how-item">
                        <div class="hi-icon">
                            <img src="{{ asset('img/icons/brain.png') }}" alt="">
                        </div>
                        <h4>{{ 'Créez un compte' | trans }}</h4>
                        <p>{{ 'Commencez par créer un compte pour accéder à toutes les fonctionnalités de SolMusic.' | trans }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="how-item">
                        <div class="hi-icon">
                            <img src="{{ asset('img/icons/pointer.png') }}" alt="">

                        </div>
                        <h4>{{ 'Choisissez un plan' | trans }}</h4>
                        <p>{{ 'Optez pour le plan qui correspond le mieux à vos besoins pour profiter pleinement de notre service.' | trans }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="how-item">
                        <div class="hi-icon">
                            <img src="{{ asset('img/icons/smartphone.png') }}" alt="">

                        </div>
                        <h4>{{ 'Téléchargez de la musique' | trans }}</h4>
                        <p>{{ 'Une fois inscrit, explorez notre catalogue et téléchargez vos morceaux préférés pour une écoute illimitée.' | trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- How section end -->

    <!-- Concept section -->
<section class="concept-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>{{ 'Nos genres musicaux' | trans }}</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <p>{{ 'Découvrez notre large gamme de genres musicaux et trouvez celui qui correspond à votre style.' | trans }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="concept-item">
                    <img src="{{ asset('img/concept/1.jpg') }}" alt="">
                    <h5>{{ 'Musique Soul' | trans }}</h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="concept-item">
                    <img src="{{asset('img/concept/2.jpg')}}" alt="">
                    <h5>{{ 'Concerts en direct' | trans }}</h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="concept-item">
                    <img src="{{ asset('img/concept/3.jpg') }}" alt="">
                    <h5>{{ 'Sets de DJ' | trans }}</h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="concept-item">
                    <img src="{{ asset('img/concept/4.jpg') }}" alt="">
                    <h5>{{ 'Diffusions en direct' | trans }}</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Concept section end -->


    <!-- Subscription section -->
<section class="subscription-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="sub-text">
                    <h2>{{ 'Un service de mastering de qualité professionnelle' | trans }}</h2>
                    <h3>{{ 'Essayez notre service dès maintenant' | trans }}</h3>
                    <p>{{ 'Bénéficiez d\'un service de mastering professionnel pour sublimer vos morceaux. Notre équipe d\'ingénieurs du son travaille avec passion pour vous offrir un rendu exceptionnel. Lancez-vous dès maintenant !' | trans }}</p>
                    <a href="#" class="site-btn">{{ 'Essayez maintenant' | trans }}</a>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="sub-list">
                    <li><img src="{{ asset('img/icons/check-icon.png') }}" alt="">{{ 'Optimisation de chaque piste' | trans }}</li>
                    <li><img src="{{ asset('img/icons/check-icon.png') }}" alt="">{{ 'Qualité audio optimale' | trans }}</li>
                    <li><img src="{{ asset('img/icons/check-icon.png') }}" alt="">{{ 'Équilibrage professionnel' | trans }}</li>
                    <li><img src="{{ asset('img/icons/check-icon.png') }}" alt="">{{ 'Réduction du bruit' | trans }}</li>
                    <li><img src="{{ asset('img/icons/check-icon.png') }}" alt="">{{ 'Compatibilité avec tous les formats' | trans }}</li>
                    <li><img src="{{ asset('img/icons/check-icon.png') }}" alt="">{{ 'Service rapide et fiable' | trans }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Subscription section end -->


    
<!-- Footer section -->
    <footer class="footer-section" style="background-color: #08192d;">
    <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7 order-lg-2">
                    <div class="row">
                        <div class="col-sm-4">
                            
                        </div>
                        <div class="col-sm-4">
                         
                        </div>
                        <div class="col-sm-4">
                             
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 order-lg-1">
                    <img src="{{ asset('img/logo.png') }}" alt="{{ 'SolMusic' | trans }}">
                    <div class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        {{ 'Copyright' | trans }} &copy;
                        <script>document.write(new Date().getFullYear());</script>
                        {{ 'Tous droits réservés' | trans }}
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="social-links">
                        <a href=""><i class="fa fa-instagram"></i></a>
                        <a href=""><i class="fa fa-pinterest"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        

    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery.slicknav.min.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/mixitup.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>


    <script src="{{ asset('js/jplayerInit.js') }}"></script>
    <script src="{{ asset('js/jquery.jplayer.min.js') }}"></script>
    <script src="{{ asset('js/wavesurfer.min.js') }}"></script>
    <script src="{{ asset('js/WaveSurferInit.js') }}"></script>
    
    </footer>
    
    <!--====== Javascripts & Jquery ======-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/main.js"></script>
<!-- Footer section end -->
 
 

    </body>
</html>
