<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/form-register.css') }}">
    <title>{% block title %}Votre Site{% endblock %}</title>
</head>
<body class="sub-list">
     
<!-- Dans votre fichier HTML -->
<div class="container-register">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="registration-form" style="margin-top: 30px;">
                 <a href="{{ path('app_home') }}" class="site-logo" style="font-size: 20px; text-align:center">
                <img src="{{ asset('img/logo.png') }}" alt="SolMusic">
            </a>
                {{ form_start(registrationForm, {'attr': {'class': 'my-custom-form'}}) }}
{{ form_row(registrationForm.email, {
    'label': 'Email'|trans,
    'attr': {'class': 'form-control'}
}) }}

{{ form_row(registrationForm.nom, {
    'label': 'Nom'|trans,
    'attr': {'class': 'form-control'}
}) }}

{{ form_row(registrationForm.prenom, {
    'label': 'Prénom'|trans,
    'attr': {'class': 'form-control'}
}) }}
                    {{ form_row(registrationForm.plainPassword, {
                        'label': 'Mot de passe'|trans,
                        'attr': {'class': 'form-control'}
                    }) }}
                    {{ form_row(registrationForm.agreeTerms,{
                        'label': 'Acceptez les termes et conditions'|trans,
                        
                    }) }}
                    
                    <button type="submit" class="btn btn-danger">{{ 'S\'inscrire' | trans }}</button>
                  <p> {{ 'Vous avez un compte ?'| trans }} <a href="{{ path('app_login') }}" style="color:#f44336;">{{ 'Connectez-vous' | trans }}</a></p>
          
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
</div>




 
</body>
</html>
