<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/form-register.css') }}">
    <title>{% block title %}Votre Site{% endblock %}</title>
</head>
<body class="sub-list">
     
<!-- Dans votre fichier HTML -->
<div class="container-register">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="registration-form" style="margin-top: 30px;">
                 <a href="index.html" class="site-logo" style="font-size: 20px; text-align:center">
                <img src="{{ asset('img/logo.png') }}" alt="SolMusic">
            </a>
                {{ form_start(registrationForm, {'attr': {'class': 'my-custom-form'}}) }}
                    {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(registrationForm.plainPassword, {
                        'label': 'Password',
                        'attr': {'class': 'form-control'}
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}
                    
                    <button type="submit" class="btn btn-danger">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
</div>




 
</body>
</html>
