<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/quill/quill.snow.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/quill/quill.bubble.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/simple-datatables/style.css') }}" rel="stylesheet">

  <link rel="stylesheet" href="{{ asset('css/style-admin.css') }}"/>

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Aug 30 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="{{ path('ingenieur_dashborad') }}" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">MixApp</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <span class="d-none d-md-block ps-2">
                        {% if app.user %}
                            {{ app.user.getPrenom()}} {{ app.user.getNom() }}
                        {% endif %}
                    </span>
                </a>
            </li>
        </ul>
    </nav>

</header>

<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a href="{{ path('ingenieur_dashborad') }}" class="nav-link">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
    
            </a>
        </li>
        <li class="nav-item">
            <button class="nav-link collapsed" href="">
                <i class="bi bi-save"></i>
                <span type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Envoyer l'audio
                </span>
            </button>
        </li>

         <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_logout') }}">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Se deconnecter</span>
            </a>
        </li>
    </ul>
</aside>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('ingenieur_dashborad') }}">Home</a></li>
                <li class="breadcrumb-item active">Audios-Commentaires</li>
            </ol>
        </nav>
    </div>

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            
                            <div class="card-body">
                                <h5 class="card-title">Liste des audios</h5>
                                <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">Titre de l'audio</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in audios %}
                                            <tr>
                                                <td>{{ item.audio.getFiles() }}</td>
                                                <td>
                                                    <a href="{{ path('download_audio',{'id': item.audio.getId()}) }}" class="btn btn-danger" style="font-size: 13px;">Télécharger<i class="bi bi-arrow-down-circle" style=""></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-xxl-4 col-xl-12">
                            <div class="card info-card customers-card">
                                <div class="card-body">
                                    <h5 class="card-title"></h5>
                                    <div>
                                        {% for commentaire in commentaires|reverse %}
                                            <div class="commentaire">
                                                <div class="utilisateur">
                                                    {% if commentaire.id_user != 'admin@gmail.com' %}
                                                        <div>Client</div>
                                                        <span>
                                                            <div class="message btn btn-primary" style="width: 40%; text-align: start;">
                                                                {{ commentaire.message }}
                                                            </div>
                                                        </span>
                                                    {% else %}
                                                        <div style="text-align: end">Admin <div>
                                                        <span class="message btn btn-primary " style="text-align: start; width: 40%;">
                                                            {{ commentaire.message }}
                                                        </span>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="d-flex align-items-center">
                                        {{ form_start(form, {'attr': {'class': 'form-group w-100'}}) }}
                                        <div class="input-group">
                                            {{ form_row(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Votre commentaire'}}) }}
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-primary" style="margin-top: 45%; margin-left: 12%">{{ 'Envoyer' | trans }}</button>
                                            </div>
                                        </div>
                                        {{ form_end(form) }}

                                        {% if form_errors(form) %}
                                            <div class="alert alert-danger">
                                                {{ form_errors(form) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Envoyer l'audio mixé</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ form_start(formi) }}
    <div class="form-group">
        <div class="custom-file" style="margin-bottom: 10px;">
            {{ form_widget(formi.files, {'attr': {'class': 'custom-file-input', 'style': 'background-color: white; color: black;', 'onchange': 'updateFileName(this)'}}) }}
           {% set projetId = app.request.attributes.get('projetId') %}
            {{ form_widget(formi.projetId, {'value': projetId}) }}
   <label class="custom-file-label" for="{{ formi.files.vars.id }}">Aucun fichier choisi</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Soumettre</button>
    {{ form_end(formi) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
</main>

<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>MixApp</span></strong>. All Rights Reserved
    </div>
    <div class="credits"></div>
</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<script src="{{ asset('vendor-admin/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('vendor-admin/chart.js/chart.umd.js') }}"></script>
<script src="{{ asset('vendor-admin/simple-datatables/simple-datatables.js') }}"></script>
<script src="{{ asset('vendor-admin/php-email-form/validate.js') }}"></script>
<script src="{{ asset('js/main-admin.js') }}"></script>
<!-- jQuery (obligatoire pour Bootstrap) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Bootstrap JS bundle (avec les plugins) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
