<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Créer votre projet</title>
    <meta charset="UTF-8">
    <meta name="description" content="SolMusic HTML Template">
    <meta name="keywords" content="music, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/slicknav.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/form-create-project.css') }}">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <style>
       
    </style>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    {% include 'includes/header_preload.html.twig' %}

    <!-- Votre template Twig -->
   <section class="premium-section spad" style="margin-top: 5%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <h2>{{ 'Créer votre projet maintenant' | trans }}</h2> <br>
                        <img src="{{ asset('img/15.jpg') }}" alt="casque audio" style="height: 50vh;">
                    </div>
                </div>
                <div class="col-lg-6">
                {# Affichage des erreurs de formulaire #}
                {% if form_errors(form) %}
                    <div class="alert alert-danger">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}

                {# Affichage des messages flash de succès #}
                {% for message in app.session.flashBag.get('success-p') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                    {{ form_start(form, {'attr': {'class': 'form-group'}}) }}
                    <!-- Afficher les erreurs générales du formulaire -->
                    {{ form_errors(form) }}
                    
                    {{ form_row(form.nom_projet, {'attr': {'class': 'form-control', 'placeholder': 'Nom du Projet'}}) }}
                    <!-- Afficher les erreurs spécifiques au champ nom_projet -->
                    <div class="error-message">{{ form_errors(form.nom_projet) }}</div>
                    
                    {{ form_row(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
                    <!-- Afficher les erreurs spécifiques au champ description -->
                    <div class="error-message">{{ form_errors(form.description) }}</div>

                    <div class="form-group">
                    <label class="" for="{{ form.files.vars.id }}">Selectionner un fichier</label>
  
                  <div class="custom-file" style="margin-bottom: 10px;">
    {{ form_widget(form.files, {
        'attr': {
            'class': 'custom-file-input',
            'accept': 'audio/*',
            'multiple': 'multiple',  
            'style': 'background-color: white; color: black;',
            'onchange': 'updateFileName(this)',
            'placeholder': 'Sélectionner un fichier'
        }
    }) }}
    <label class="custom-file-label" for="{{ form.files.vars.id }}">Aucun fichier choisi</label>
</div>
    </div>
            
                    <button type="submit" class="btn btn-primary">Créer le Projet</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>

   <!-- Footer section -->
    <footer class="footer-section" style="background-color: #08192d;">
    <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7 order-lg-2">
                    <div class="row">
                        <div class="col-sm-4">
                            
                        </div>
                        <div class="col-sm-4">
                         
                        </div>
                        <div class="col-sm-4">
                             
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 order-lg-1">
                    <img src="{{ asset('img/logo.png') }}" alt="{{ 'SolMusic' | trans }}">
                    <div class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        {{ 'Copyright' | trans }} &copy;
                        <script>document.write(new Date().getFullYear());</script>
                        {{ 'Tous droits réservés' | trans }}
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="social-links">
                        <a href=""><i class="fa fa-instagram"></i></a>
                        <a href=""><i class="fa fa-pinterest"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        

    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery.slicknav.min.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/mixitup.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>


    <script src="{{ asset('js/jplayerInit.js') }}"></script>
    <script src="{{ asset('js/jquery.jplayer.min.js') }}"></script>
    <script src="{{ asset('js/wavesurfer.min.js') }}"></script>
    <script src="{{ asset('js/WaveSurferInit.js') }}"></script>
    
    </footer>
    
    <!--====== Javascripts & Jquery ======-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/main.js"></script>
<!-- Footer section end -->
    <script>
        function updateFileName(input) {
            var fileName = input.value.split('\\').pop(); // Obtenir le nom du fichier à partir du chemin complet du fichier
            var label = input.nextElementSibling; // Sélectionner le label suivant l'input
            label.innerHTML = fileName; // Mettre à jour le texte du label avec le nom du fichier
        }
    </script>
    <!-- Footer section end -->
    
    <!--====== Javascripts & Jquery ======-->
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery.slicknav.min.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/mixitup.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>

    {% block javascripts %}
    {# Inclure les fichiers JavaScript ici #}
    <script src="{{ asset('js/jplayerInit.js') }}"></script>
    <script src="{{ asset('js/jquery.jplayer.min.js') }}"></script>
    <script src="{{ asset('js/wavesurfer.min.js') }}"></script>
    <script src="{{ asset('js/WaveSurferInit.js') }}"></script>
    {% endblock %}

</body>
</html>
