<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>SolMusic | HTML Template</title>
	<meta charset="UTF-8">
	<meta name="description" content="SolMusic HTML Template">
	<meta name="keywords" content="music, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ asset('styles/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/css/slicknav.min.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/css/style.css') }}">

	 


	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
 
	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/slicknav.min.css') }}"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="{{ asset('css/style.css') }}"/>


 

</head>
<body> 
     

  {% include 'includes/loader.html.twig' %}

<section class="subscription-section spad" style="height: 100%; margin:0%;">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="sub-text">
						<h2>Submit your audio now</h2>
						{# <h3>lorem Consectetur adipisc</h3> #}
						<p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<a href="{{ path('app_home') }}" class="site-btn">Annuler</a>
					</div>
				</div>    
				<div class="col-lg-6">
					<ul class="">
					 
<form method="post" action="{{ path('client_soumettre_audio', {'projetId': projet.id}) }}" enctype="multipart/form-data" style="border: 1px solid #fc0254; padding: 20px; border-radius: 10px;">
    {{ form_start(form) }}

    {# Personnalisation du style pour le champ de fichier audio #}
    <div class="form-group">
        <div class="custom-file" style="margin-bottom: 10px;">
            {{ form_widget(form.files, {'attr': {'class': 'custom-file-input', 'style': 'background-color: white; color: black;', 'onchange': 'updateFileName(this)'}}) }}
            <label class="custom-file-label" for="{{ form.files.vars.id }}">Aucun fichier choisi</label>
        </div>
    </div>
zzzzzzzzzzzzzzzzzzzzzzzzzz
    <button type="submit" style="background-color: #ff6b6b; color: white; padding: 10px; border: none; border-radius: 5px;">Soumettre</button>

    {{ form_end(form) }}

    <script>
        function updateFileName(input) {
            var fileName = input.value.split('\\').pop(); // Obtenir le nom du fichier à partir du chemin complet du fichier
            var label = input.nextElementSibling; // Sélectionner le label suivant l'input
            label.innerHTML = fileName; // Mettre à jour le texte du label avec le nom du fichier
        }
    </script>
</form>
				</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Subscription section end -->


  {% include 'includes/script.html.twig' %}   
</body>
</html>
